# FILEPATH: /c:/Users/liam.obrien/PycharmProjects/DjangoReactFlash/docker/gunicorn.socket

[Unit]
Description=gunicorn socket

[Socket]
ListenStream=/run/gunicorn.sock

[Install]
WantedBy=sockets.target
