[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=$PROJECT/backend
ExecStart=$GUNICORN_EXEC --workers 3 --bind $GUNICORN_IP:8080 backend.wsgi:application

[Install]
WantedBy=multi-user.target
