[Unit]
Description=Nginx HTTP server
After=network.target

[Service]
User=ubuntu
Group=ubuntu
ExecStart=/usr/sbin/nginx
ExecReload=/usr/sbin/nginx -s reload
ExecStop=ExecStop=/bin/systemctl stop nginx
PIDFile=/run/nginx.pid
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target